* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Rose", cursive;
  }
  
  body{
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    background-color: #fff;
    max-width: 90rem;
    margin: auto;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
         }

    .logo {
        margin-top: 70px;
        height: 40px;
        margin-left: -650px;
    }
   
    .leftimage {
        height: 950px;
        width:600px;
    }

    .list {
        display: flex;
        flex-direction: row;
        font-family: 'Courier New', Courier, monospace;
        color: gray;
        margin-top: 70px;
        font-size: 20px;
        gap: 60px;
        margin-right: 50px;
    }

    .vl {
        border: 1px solid black;
        transform: rotate(90deg);
        height: 250px;
        margin-left: -160px;
        margin-top: -38.5px;
    }

.lists:nth-child(1) {
        color: rgb(63, 51, 51);
    }

    .creativity {
        margin-top: -800px;
        margin-left: 630px;
        margin-bottom: 800px;
    }
    
    .creativity h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100px;
        color: rgb(225, 222, 222);
        line-height: 130px;
    }

    span {
        color: rgb(52, 48, 48);
        margin-left: 180px;
    }

    .creativity h3 {
        color: rgb(204, 201, 201);
        font-size:25px;
        font-family: sans-serif;
        line-height: 35px;
        margin-left: 500px;
        margin-top: -80px;
    }

    .icons {
       margin-left: 680px;
       margin-top: -290px;
    }
    
    .socialmedia {
        display: flex;
        flex-direction: row;
        margin: 50px;
    }

    .button {
        float: right;
        font-family: sans-serif;
        color: #fff;
        background-color: rgb(52, 48, 48);
        font-size: 18px;
        padding: 20px 45px;
        margin-top: -750px;
        margin-right:55px;
    }
    
    .Text {
       margin-left: 670px;
       margin-top: -650px;
       margin-bottom: 300px;
       font-size: 15px;
       font-family: 'Courier New', Courier, monospace;
       color: rgb(126, 121, 121);
       line-height: 65px;
    }

    .Text h3:nth-child(1) {
        color: rgb(63, 62, 62);
    }

    .vl1 {
        border: 1px solid black;
        border-color: gray;
        margin-left: 462px;
        width: 360px;
        transform: rotate(90deg);
        margin-top: -425px;
    }

    .bottomright {
        margin-left: 825px;
        margin-top: -270px;
    }
    
    .bottomright h2 {
        font-size: 100px;
        color: rgb(52, 48, 48);
    }

    .bottomright h3 {
        font-family: sans-serif;
        font-size: 20px;
        color: rgb(63, 62, 62);
        line-height: 35px;
       }

    .bottomimage {
        height: 230px;
        width: 500px;
        margin-top: 20px;
    }

    .arrowimage {
        float: right;
        height: 120px;
        margin-right: 45px;
        margin-top: -495px;
        width: 50px;
    }

    .circles {
        margin-top: -110px;
    }
    
    .dot {
            display: flex;
            height: 25px;
            width: 25px;
            background-color: #bbb;
            border-radius: 50%;
            margin: -92px;
            margin-left: 630px;
          }

    /* Responsive Design */

    @media screen and (max-width: 1430px) {
        
        .leftimage {
            width: 400px;
        }

        .logo {
            margin-left: -500px;
        }

        .creativity {
            margin-top: -800px;
            margin-left: 430px;
            margin-bottom: 800px;
        }
        
        .Text {
            margin-left: 500px;
            }
            
        .vl1 {
            margin-left: 270px;
            }
        
        .dot {
            margin-left: 438px;
              }
        .bottomright {
                margin-left: 650px;
            }
    }

    @media screen and (max-width: 1250px) {
        
        .list {
            margin-right: -85px;
        }

        .vl {
            height: 200px;
            margin-top: -15px;
        }
        .creativity {
            margin-top: -800px;
        }

        .creativity h1 {
            font-size: 100px;
            line-height: 130px;
        }

        .icons {
            margin-left: 600px;
         }

        .Text {
            margin-left: 455px;
            line-height: 58px;
            }
            
        .vl1 {
            margin-left: 250px;
            }
        
        .dot {
            margin-left: 418px;
              }
        .bottomright {
                margin-left: 600px;
            }
        .arrowimage {
               display: none;
            }
    }

    @media screen and (max-width: 1020px) {
       
        .logo {
            margin-left: -320px;
            height: 30px;
            margin-top: 65px;
        }

        .leftimage {
            width: 250px;
        }
        
        .list {
            font-size: 15px;
            gap: 30px;
            margin-right: 1px;
        }

        .vl {
            height: 150px;
            margin-left: -100px;
            margin-top: 7px;
        }
        
        .creativity {
            margin-top: -800px;
            margin-left: 250px;
        }
        

        .creativity h1 {
            font-size: 50px;
            line-height: 50px;
        }

        .creativity h3 {
            font-size:15px;
            line-height: 20px;
            margin-left: 350px;
            margin-top: -30px;
        }

        .icons {
            margin-left: 450px;
            margin-top: -180px;
         }

         .socialmedia {
            margin: 20px;
        }

        .Text {
            margin-left: 300px;
            line-height: 65px;
            }
            
        .vl1 {
            margin-left: 95px;
            }
        
        .dot {
            margin-left: 263px;
              }

        .circles {
                margin-top: -250px;
            }
        .bottomright {
                margin-left: 440px;
            }

        .bottomimage {
                height: 335px;
                width: 320px;
            }
    }

    @media screen and (max-width:735px) {
        
        .vl {
            display: none;
        }

        .list {
            display: none;
        }

        .leftimage {
            width: 435px;
        }

        .logo {
            margin-left: -420px;
            height: 40px;
        }

        .container2 {
            margin-top: 860px;
        }

        .creativity {
            margin-left: 10px;
        }

        .creativity h1 {
            font-size: 60px;
            line-height: 50px;
        }
        .icons {
            margin-left: 325px;
            margin-top: -250px;
         }

         .socialmedia {
            margin: 40px;
        }

        .creativity h3 {
            font-size:30px;
            line-height: 30px;
            margin-left: 185px;
            margin-top: 30px;
        }

        .button {
            margin-right: 60px;
            margin-top: -720px;
        }

        .Text {
            margin-left: 200px;
            line-height: 65px;
            }
            
        .vl1 {
            margin-left: -30px;
            }
        
        .dot {
            margin-left: 138px;
              }

        .circles {
                margin-top: -770px;
            }
        .bottomright {
                margin-left:-10px;
                text-align: center;
                margin-top: 100px;
            }

        .bottomimage {
                height: 379px;
                width: 435px;
            }
    }
     

    